apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker

spec:
  replicas: 1

  selector:
    matchLabels:
      app: worker

  template:
    metadata:
      labels:
        app: worker

    spec:
      imagePullSecrets:
        - name: ghcr-secret   # GitHub Container Registry secret

      containers:
        - name: worker
          image: ghcr.io/parthorookie/event-driven-keda-enterprisegithubactions/worker:latest
          imagePullPolicy: Always

          # Workers usually don't expose ports
          # Remove containerPort unless your worker runs an HTTP server

          env:
            - name: RABBITMQ_URL
              value: amqp://rabbitmq:5672

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"